<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Amazona</title>
</head>
<body>
    <div class="grid-container">
        <header class="row">
            <div>
                <a class='brand' href="index.html">Amazona</a>
            </div>
            <div>
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign in</a>
            </div>
        </header>        
        <main>
            <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <!--680 830-->
                        <img class="medium" src="images/p1.jpg" alt="prod">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Oversized shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                            </span>
                        </div>
                        <div class="price">
                            $40
                        </div>
                    </div>
                </div>

                <div class="card">
                    <a href="product.html">
                        <!--680 830-->
                        <img class="medium" src="images/p1.jpg" alt="prod">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Oversized shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                            </span>
                        </div>
                        <div class="price">
                            $40
                        </div>
                    </div>
                </div>


                <div class="card">
                    <a href="product.html">
                        <!--680 830-->
                        <img class="medium" src="images/p1.jpg" alt="prod">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Oversized shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                            </span>
                        </div>
                        <div class="price">
                            $40
                        </div>
                    </div>
                </div>


                <div class="card">
                    <a href="product.html">
                        <!--680 830-->
                        <img class="medium" src="images/p1.jpg" alt="prod">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Oversized shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                            </span>
                        </div>
                        <div class="price">
                            $40
                        </div>
                    </div>
                </div>


                <div class="card">
                    <a href="product.html">
                        <!--680 830-->
                        <img class="medium" src="images/p1.jpg" alt="prod">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Oversized shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                            </span>
                        </div>
                        <div class="price">
                            $40
                        </div>
                    </div>
                </div>


                <div class="card">
                    <a href="product.html">
                        <!--680 830-->
                        <img class="medium" src="images/p1.jpg" alt="prod">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Oversized shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                            </span>
                        </div>
                        <div class="price">
                            $40
                        </div>
                    </div>
                </div>


                <div class="card">
                    <a href="product.html">
                        <!--680 830-->
                        <img class="medium" src="images/p1.jpg" alt="prod">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Oversized shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                                <i class="fa fa-star">   <!--fa code-->   </i>
                            </span>
                        </div>
                        <div class="price">
                            $40
                        </div>
                    </div>
                </div>

            </div>
        </main>
        <footer class="row center">
            All right reserved            
        </footer>
    </div>
</body>
</html>